* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: #fff;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body{
height: 100%;
width: 100%;
}
body{
  background-color: #0e0e0e;
  display:flex;
  align-items: center;
  justify-content: center;
}

main{
  width: 35vw;
  height: 20rem;
  background: linear-gradient(to top left, rgba(255, 233, 33, 0.158), transparent);
  background-color: #61616123;
  border-radius: .8rem;
  border: 1px solid #ffffff5b;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-size: 7rem;
  background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  background-position: center;
  background-size: cover;
  position: relative;
}
.bloom{
  position: absolute;
  filter: blur(80px) saturate(1);

}
.counter{
  font-size: 6rem;
  background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  background-position: center;
  background-size: cover;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 3rem;
}
button{
  padding: 12px 22px;
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
  border:2px solid hsla(0, 0%, 100%, .3);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.5s ease;
}

button:hover{
  background: linear-gradient(to top ,rgba(255, 255, 255, 0.185), transparent);
}

@media (max-width:1800px) {
  main{
    width: 52vw;
  }
}
@media (max-width:1400px) {
  main{
    width: 52vw;
  }
}
@media (max-width:1200px) {
  main{
    width: 60vw;
  }
  h1{
    font-size: 9vw;
  }
  .counter{
    font-size: 9vw;
  }
}
@media (max-width:900px) {
  main{
    width: 70vw;
  }
  h1{
    font-size: 10vw;
  }
  .counter{
    font-size: 10vw;
  }
}

@media (max-width:600px) {

  main{
    width: 80vw;
  }
  h1{
    font-size: 12vw;
  }
  .counter{
    font-size: 12vw;
  }
}
